:root{
    --text-color: #333;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #7e7b7b;
    --pink-color: #ba71da;
    --header-height: 104px;
    --navbar-height: 64px;
    --nav-radius: 4px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.radius--first {
    border-top-left-radius: var(--nav-radius);
    border-top-right-radius: var(--nav-radius);
}

.radius--last {
    border-bottom-left-radius: var(--nav-radius);
    border-bottom-right-radius: var(--nav-radius);
}

.tag {
    min-width: 36.2px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    padding: 1px 5px;
    color: var(--white-color);
    border-radius: 4px;
    float: right;
}

.tag--hot {
    background-color: #f76570;
}

.tag--new {
    background-color: #1bbc9b;
}

.tag--best {
    background-color: #14b9d5;
}

.btn {
    border-radius: 30px;
    padding: 10px 15px;
    height: 36px;
    min-width: 110px;
    background-color: var(--white-color);
    font-size: 1.35rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    cursor: pointer;
}

.btn--pink {
    background-color: var(--pink-color);
}

.btn--small {
    width: fit-content;
    padding: 7px 18px;
    height: 30px;
}

.u {
    position: relative;
    z-index: 1;
}

.u--base::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 85%;
    width: 100%;
    height: 5px;
    background-color: #000;
    z-index: 0;
}

.u--pink.u--base::after {
    background-color: var(--pink-color);
}

.u--blue.u--base::after {
    background-color: #14b9d5;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}