:root{
    --text-color: #555;
    --des-color: #888;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #7e7b7b;
    --pink-color: #ba71da;
    --blue-color: #14b9d5;
    --header-height: 104px;
    --navbar-height: 64px;
    --nav-radius: 4px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.radius--first {
    border-top-left-radius: var(--nav-radius);
    border-top-right-radius: var(--nav-radius);
}

.radius--last {
    border-bottom-left-radius: var(--nav-radius);
    border-bottom-right-radius: var(--nav-radius);
}

.tag {
    min-width: 36.2px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    padding: 1px 5px;
    color: var(--white-color);
    border-radius: 4px;
    float: right;
    text-align: center;
}

.tag--small{
    padding: 0 3px;
    border-radius: 8px;
}

.tag--hot {
    background-color: #f76570;
}

.tag--new {
    background-color: #1bbc9b;
}

.tag--best {
    background-color: var(--blue-color);
}

.tag--yellow {
    background-color: #ffd205;
}

.tag--pink {
    background-color: var(--pink-color);
}

.btn {
    border-radius: 30px;
    padding: 10px 15px;
    height: 36px;
    min-width: 110px;
    background-color: var(--white-color);
    font-size: 1.35rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--white-color);
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}

.btn--pink {
    background-color: var(--pink-color);
}

.btn--green {
    background-color: #1bbc9b;
}

.btn--yellow {
    background-color: #ffd205;
}

.btn--red {
    background-color: #f76570;
}

.btn--blue {
    background-color: var(--blue-color);
}

.btn--small {
    width: fit-content;
    padding: 7px 18px;
    height: 30px;
}

.btn--big {
    height: 44px;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 14px 35px;
}

.u {
    position: relative;
    z-index: 1;
}

.u--base::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 85%;
    width: 100%;
    height: 5px;
    background-color: #000;
    z-index: 0;
}

.u--pink.u--base::after {
    background-color: var(--pink-color);
}

.u--blue.u--base::after {
    background-color: #14b9d5;
}

.u--orange.u--base::after {
    background-color: #f76570;
}

.u--green.u--base::after {
    background-color: #1bbc9b;
}

.price__box {
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    margin: 30px 0;
    color: var(--text-color);
    display: flex;
}

.price {
    font-size: 2.8rem;
    margin-right: 4px;
}

.price--unset {
    text-decoration: line-through;
    color: rgb(165, 164, 164);
    margin-right: 4px;
}

.price--small {
    font-size: 2.4rem;
}

.price--right {
    justify-content: right;
}

.border-bot {
    border-bottom: 1px solid #f1f1f1;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}