.app{
    /* overflow: hidden; */
}

.header {
    height: var(--header-height);
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    top:0;
    right: 0;
    left: 0;
    -webkit-tap-highlight-color: transparent;
}

.navbar__container{
    display: flex;
    align-items: center;
    height: var(--navbar-height);
}

.navbar__logo {
    height: 46.5px;
    width: 200px;
}

.navbar__img {
    width: 160px;
    height: 38px;
    cursor: pointer;
}

.navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
    padding-left: 0;
}

.navbar__item {
    position: relative;
}

.navbar__link,
.navbar__book {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 25px 15px;
    letter-spacing: 0.15rem;
}

.navbar__book {
    margin-left: 30px;
    padding: 10px 10px;
}

.navbar-menu {
    padding: 5px 10px;
    cursor: pointer;
}

.navbar-menu__icon {
    color: #b0aeb0;
    font-size: 33px;
}

.subnav__list {
    position: absolute;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    border-radius: var(--nav-radius);
    box-shadow: 0 10px 5px rgba(0,0,0,0.2);
}

.subnav1 {
    display: none;
}

.navbar__item:hover > .subnav1 {
    display: block;
}

.subnav__item {
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 25px;
    text-align: left;
    position: relative;
}

.subnav__item:hover {
    background-color: #eeecec;
}

.subnav__link {
    display: block;
    min-width: 140px;
    color: #7e7b7b;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.subnav__link > i {
    float: right;
}

.subnav__list .subnav2 {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    display: none;
    display: none;
}

.subnav__item:hover > .subnav2 {
    display: block;
}

.subnav2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: transparent;
    width: 20px;
    height: 100%;
}

.mobinav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fade linear 0.2s;
    z-index: 2;
}

.mobinav__list {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 310px;
    background-color: #555555;
    list-style: none;
    margin: 0;
    padding: 0 20px 70px 40px;
    overflow-y: auto;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
    z-index: 3;
}

.mobinav__list::-webkit-scrollbar {
    display: none;
}

.mobinav__link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 0.03rem;
    display: block;
    line-height: 35px;
    margin-top: 30px;
}

.mobisubnav__list {
    list-style: none;
}

.mobisubnav__link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: block;
    line-height: 35px;
}

.mobinav__close{
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--white-color);
    font-size: 30px;
    padding: 7px;
    z-index: 1;
    cursor: pointer;
}

.theme {
    background: no-repeat center/ cover url('../img/theme1.jpg');
    filter: grayscale(30%);
    margin-top: calc(0px - var(--header-height));
}

.theme__container {
    padding: 15% 15% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.theme__tilte {
    color: var(--white-color);
    font-size: 5rem;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    margin-top: 0;
}

.theme__sub-title {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    line-height: 2rem;
}

.search-bar {
    background-color: var(--white-color);
    color: var(--gray-color);
    align-self: center;
    justify-items: center;
    font-size: 1.5rem;
    margin-top: 35px;
    padding: 14px 20px;
    text-align: left;
    height: 43px;
    min-width: 330px;
    position: relative;
}


.search-bar__des {
    color: var(--gray-color);
    margin-left: 15px;
    height: 40px;
}

.search-bar__icon {
    margin-right: 10px;
    float: right;
}

.search-bar__list {
    list-style: none;
    background-color: var(--white-color);
    position: absolute;
    top: 103%;
    left: 0;
    right: 0;
    border-radius: 8px;
    margin: 0;
    padding-left: 0;
    display: none;
}

#search-bar__check:checked ~ .search-bar__list {
    display: block; 
}

.search-bar__item {
    height: 30px;
    color: var(--gray-color);
}

.search-bar__item:hover {
    background-color: rgb(25, 130, 228);
    color: var(--white-color);
}

.search-bar__link {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 6px 20px;
    height: 100%;
}

.theme__tilte2 {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.theme__list {
    list-style: none;
    margin-top: 60px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30vh;
}

.theme__item {
    color: var(--white-color);
    background-color: rgba(0,0,0,0.4);
    font-size: 3rem;
    width: 95px;
    height: 95px;
    margin: 15px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.theme__link {
    color: var(--white-color);
    font-size: 1.1rem;
    margin-top: 15px;
    letter-spacing: 0.1rem;
}

.content {
    padding: 30px 0 55px;
}

.content__box-hdg {
    text-align: center;
}

.content__sub-hdg {
    font-size: 1.4rem;
    font-weight: 300;
    color: #555;
    letter-spacing: 0.15rem;
    margin-bottom: 25px;
}

.content__hdg {
    font-size: 3.4em;
    color: #333;
    font-weight: 800;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    padding-bottom: 25px;
    opacity: 0.9;
}

.section__item {
    position: relative;
    margin: 10px 0;

}

.section__des {
    width: 100%;  
    filter: brightness(90%);
}

.section__sub-des {
    height: 44px;
    width: 44px;
    background-color: rgba(0,0,0,0.05);
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
}

.section__intro {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--white-color);
    padding: 30px;
}

.section__intro1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 15px;
}

.section__intro2 {
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
}

.section__box {
    position: absolute;
    background-color: #14b9d5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity linear 0.3s;
}

.section__btn {
    color: #14b9d5;
}

.section__item:hover .section__box{
    display: flex;
    opacity: 1;
}

.section__box1 {
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 15px 0;
}

.section__box2 {
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 10px;
    text-decoration: none;
}

.section__btn {
    margin-top: 15px;
}

.mark {
    background: no-repeat center/ cover url('../img/mark1.jpg');
    height: 235px;
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.mark__hdg {
    font-size: 5rem;
    font-weight: 800;
    color: var(--white-color);
    margin: 0;
    letter-spacing: 0.05rem;
    line-height: 50px;
}

.mark__btn {
    letter-spacing: 0.1rem;
    color: #f76570;
}

.beaches .content__box-hdg {
    margin-bottom: 20px;
    text-align: left;
}

.content__intro {
    font-size: 1.45rem;
    color: #888;
    line-height: 2.5rem;
}

.beaches__box {
    /* height: 100%; */
    position: relative;
}

.beaches__img {
    margin-top: 5%;
    background: no-repeat center/ cover url('../img/beach1.jpg');
    height: 410px;
    margin-left: 5%;
}

.beaches__time {
    height: 115px;
    width: 63%;
    background-color: var(--blue-color);
    display: flex;
    color: var(--white-color);
    text-align: center;
    position: absolute;
    bottom: -55px;
    left: 21.5%
}

.beaches__time-box {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.beaches__time-box::after{
    content: '/';
    display: block;
    font-size: 5.5rem;
    font-weight: 300;
    color: #13b0cb;
    position: absolute;
    right: -10%;
    top: 43%;
}

.beaches__time-box:last-child::after{
    color: transparent;
}

.beaches__time-num {
    font-size: 3.5rem;
    margin-top: 40px;
    flex-basis: 50%;

}

.beaches__time-word {
    font-size: 1.25rem;
    flex-basis: 50%;
    margin-bottom: 15px;
    letter-spacing: 0.1rem;
}

.more__list {
    display: flex;
    position: relative;
    padding-bottom: 20px;
}

.more__img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
}

.more__hdg {
    font-size: 2.35rem;
    letter-spacing: 0.15rem;
    color: #555;
}

.more__item {
    padding-left: 70px;
}

.more__des {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #888;
    line-height: 24px;
    margin-bottom: 22px;
}

.more__btn {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: var(--blue-color);
    padding: 13px 0;
    cursor: pointer;
}

.discover {
    height: 269px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover__title {
    font-size: 1.35rem;
    letter-spacing: 0.15rem;
    margin-bottom: 0;
}

.discover__hdg {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    margin: 25px auto;
}

.discover__btn {
    width: 130px;
    margin: 15px 0;
}

.discover1 {
    background: no-repeat center/ cover url(../img/discover1.jpg);
}

.discover2 {
    background: no-repeat center/ cover url(../img/discover2.jpg);
}

.discover__btn1 {
    color: #f3abae;
}

.discover__btn2 {
    color: #64bca8;
}

.package__img {
    width: 100%;
    padding-top: 60%;
    border: 1px solid #f1f1f1;
    position: relative;
}

.package__info {
    padding: 30px;
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
}

.package__label-box {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 5%;
    bottom: -10%;
    padding: 3px;
}

.package__label {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 22%;
    bottom: 22%;
}

.package__label1 {
    background-color: #ffd205;
}

.package__label2 {
    background-color: #f76570;
}

.package__label3 {
    background-color: var(--pink-color);
    color: var(--white-color);
}

.package__img1 {
    background: no-repeat center/ cover url(../img/package1.jpg);
}

.package__img2 {
    background: no-repeat center/ cover url(../img/package2.jpg);
}

.package__img3 {
    background: no-repeat center/ cover url(../img/package3.jpg);
}

.package__name {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin-bottom: 10px;
}

.package__location {
    font-size: 1.5rem;
    color: var(--des-color);
    letter-spacing: 0.12rem;
    margin-bottom: 15px;
}

.package__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.package__info .price__box {
    margin: 25px;
}

.package__more >a{
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: var(--text-color);
    display: inline-flex;
    padding: 3px 5px 3px 0
}


.package__des {
    font-size: 1.45rem;
    letter-spacing: 0.1rem;
    color: #888;
    line-height: 2.5rem;
    margin: 20px 0;
}