.app{
    /* overflow: hidden; */
}

.header {
    height: var(--header-height);
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    top:0;
    right: 0;
    left: 0;
    -webkit-tap-highlight-color: transparent;
}

.navbar__container{
    display: flex;
    align-items: center;
    height: var(--navbar-height);
}

.navbar__logo {
    height: 46.5px;
    width: 200px;
}

.navbar__img {
    width: 160px;
    height: 38px;
    cursor: pointer;
}

.navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
    padding-left: 0;
}

.navbar__item {
    position: relative;
}

.navbar__link,
.navbar__book {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 25px 15px;
    letter-spacing: 0.15rem;
}

.navbar__book {
    margin-left: 30px;
    padding: 10px 10px;
}

.navbar-menu {
    padding: 5px 10px;
    cursor: pointer;
}

.navbar-menu__icon {
    color: #b0aeb0;
    font-size: 33px;
}

.subnav__list {
    position: absolute;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    border-radius: var(--nav-radius);
    box-shadow: 0 10px 5px rgba(0,0,0,0.2);
}

.subnav1 {
    display: none;
}

.navbar__item:hover > .subnav1 {
    display: block;
}

.subnav__item {
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 25px;
    text-align: left;
    position: relative;
}

.subnav__item:hover {
    background-color: #eeecec;
}

.subnav__link {
    display: block;
    min-width: 140px;
    color: #7e7b7b;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.subnav__link > i {
    float: right;
}

.subnav__list .subnav2 {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    display: none;
    display: none;
}

.subnav__item:hover > .subnav2 {
    display: block;
}

.subnav2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: transparent;
    width: 20px;
    height: 100%;
}

.mobinav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fade linear 0.2s;
    z-index: 2;
}

.mobinav__list {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 310px;
    background-color: #555555;
    list-style: none;
    margin: 0;
    padding: 0 20px 70px 40px;
    overflow-y: auto;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
    z-index: 3;
}

.mobinav__list::-webkit-scrollbar {
    display: none;
}

.mobinav__link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 0.03rem;
    display: block;
    line-height: 35px;
    margin-top: 30px;
}

.mobisubnav__list {
    list-style: none;
}

.mobisubnav__link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: block;
    line-height: 35px;
}

.mobinav__close{
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--white-color);
    font-size: 30px;
    padding: 7px;
    z-index: 1;
    cursor: pointer;
}

.theme {
    margin-top: calc(0px - var(--header-height));
}

.theme {
    background: no-repeat center/ cover url('../img/theme1.jpg');
    filter: grayscale(30%);
    /* position: relative; */
}

.theme__container {
    padding: 15% 15% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}

.theme__tilte {
    color: var(--white-color);
    font-size: 5rem;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    margin-top: 0;
}

.theme__sub-title {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    line-height: 2rem;
}

.search-bar {
    background-color: var(--white-color);
    color: var(--gray-color);
    align-self: center;
    justify-items: center;
    font-size: 1.5rem;
    margin-top: 35px;
    padding: 14px 20px;
    text-align: left;
    height: 43px;
    min-width: 330px;
    position: relative;
}


.search-bar__des {
    color: var(--gray-color);
    margin-left: 15px;
    height: 40px;
}

.search-bar__icon {
    margin-right: 10px;
    float: right;
}

.search-bar__list {
    list-style: none;
    background-color: var(--white-color);
    position: absolute;
    top: 103%;
    left: 0;
    right: 0;
    border-radius: 8px;
    margin: 0;
    padding-left: 0;
    display: none;
}

#search-bar__check:checked ~ .search-bar__list {
    display: block; 
}

.search-bar__item {
    height: 30px;
    color: var(--gray-color);
}

.search-bar__item:hover {
    background-color: rgb(25, 130, 228);
    color: var(--white-color);
}

.search-bar__link {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 6px 20px;
    height: 100%;
}

.theme__tilte2 {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.theme__list {
    list-style: none;
    margin-top: 60px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30vh;
}

.theme__item {
    color: var(--white-color);
    background-color: rgba(0,0,0,0.4);
    font-size: 3rem;
    width: 95px;
    height: 95px;
    margin: 15px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.theme__link {
    color: var(--white-color);
    font-size: 1.1rem;
    margin-top: 15px;
    letter-spacing: 0.1rem;
}

.content {
    padding: 35px 0 60px;
}

.content__box-hdg {
    text-align: center;
}

.content__sub-hdg {
    font-size: 1.4rem;
    font-weight: 300;
    color: #555;
    letter-spacing: 0.15rem;
}

.content__hdg {
    font-size: 3.2rem;
    color: #333;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.section__item {
    position: relative;
    margin: 10px 0;
}

.section__des {
    width: 100%;
}

.section__sub-des {
    height: 44px;
    width: 44px;
    background-color: rgba(0,0,0,0.05);
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
}
