.header {
    height: var(--header-height);
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    top:0;
    right: 0;
    left: 0;
}

.navbar__container{
    display: flex;
    align-items: center;
    height: var(--navbar-height);
}

.navbar__logo {
    height: 46.5px;
    width: 200px;
}

.navbar__img {
    width: 160px;
    height: 38px;
    cursor: pointer;
}

.navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1;
    padding-left: 0;
}

.navbar__item {
    position: relative;
}

.navbar__link,
.navbar__book {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 25px 15px;
    letter-spacing: 0.15rem;
}

.navbar__book {
    margin-left: 30px;
    padding: 10px 10px;
}

.navbar-menu {
    padding: 5px 10px;
    cursor: pointer;
}

.navbar-menu__icon {
    color: #b0aeb0;
    font-size: 33px;
}

.subnav__list {
    position: absolute;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    border-radius: var(--nav-radius);
    box-shadow: 0 10px 5px rgba(0,0,0,0.2);
}

.subnav1 {
    display: none;
}

.navbar__item:hover > .subnav1 {
    display: block;
}

.subnav__item {
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 25px;
    text-align: left;
    position: relative;
}

.subnav__item:hover {
    background-color: #eeecec;
}

.subnav__link {
    display: block;
    min-width: 140px;
    color: #7e7b7b;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.subnav__link > i {
    float: right;
}

.subnav__list .subnav2 {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    display: none;
    display: none;
}

.subnav__item:hover > .subnav2 {
    display: block;
}

.subnav2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: transparent;
    width: 20px;
    height: 100%;
}

.theme {
    margin-top: calc(0px - var(--header-height));
}

.theme__img {
    width: 100%;
}

