/* MOBILE AND TABLET */
@media (max-width: 1023px) {
    :root {
        --header-height: 126px;
    }
    .hide-on-tablet-mobile {
        display: none;
    }
    .navbar__container {
        padding: 0 50px;
    }
    .navbar__logo {
        flex: 1;
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* MOBILE */
@media (max-width: 739px) {

}