/* MOBILE AND TABLET */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }
    .navbar__container {
        padding: 0 50px;
    }
    .navbar__logo {
        flex: 1;
    }
    .mobinav__input:checked ~ .mobinav__overlay {
        display: block; 
    }
    .mobinav__input:checked ~ .mobinav__list {
        transform: translateX(0);
        opacity: 1;
    }

    .theme__container {
        padding: 30% 8% 0;
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 92px;
    }
}

/* MOBILE */
@media (max-width: 739px) {
    :root {
        --header-height: 76px;
    }
}