/* MOBILE AND TABLET */
@media (max-width: 1023px) {

    .hide-on-tablet-mobile {
        display: none;
    }

    .price--left-m {
        justify-content: left;
    }

    .navbar__container {
        padding: 0 50px;
    }
    .navbar__logo {
        flex: 1;
    }
    .mobinav__input:checked ~ .mobinav__overlay {
        display: block; 
    }
    .mobinav__input:checked ~ .mobinav__list {
        transform: translateX(0);
        opacity: 1;
    }
    .theme {
        height: unset;
    }
    .theme__container {
        padding: 30% 8% 0;
    }
    .search-bar__item {
        height: 44px;
    }

    .search-bar__link {
        padding: 12px 20px;
    }

    .mark {
        height: 321px;
    }

    .mark__btn {
        margin-top: 40px;
    }

    .beaches__img {
        margin-left: 0;
    }

    .beaches__time {
        width: 100%;
        left: 0;
        top: 100%;
    }

    .beaches__time-num {
        font-size: 3rem;
    }

    .beaches__time-word {
        font-size: 1.1rem;
    }

    .more {
        margin: 110px 0 40px;
        padding-left: 0;
    }

    .package__more >a:nth-child(1) {
        margin-top: 12px;
    }

    .package__info .price__box {
        margin: 15px 0;
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 92px;
    }

    .section__item {
        margin: 6px 0;
    }

    .beaches__img{
        height: 393px;
    }
}

/* MOBILE */
@media (max-width: 739px) {
    :root {
        --header-height: 76px;
    }

    .padding-mobile {
        padding: 0 8%;
    }

    .app {
        overflow: hidden;
    }

    .section {
        margin-left: 8%;
    }

    .section__item {
        margin-right: 8%;
    }

    .beaches__img {
        height: 231px;
    }

    .beaches__time-box::after{
        right: -20%;
    }
}