/* MOBILE AND TABLET */
@media (max-width: 1023px) {

    .hide-on-tablet-mobile {
        display: none;
    }
    .navbar__container {
        padding: 0 50px;
    }
    .navbar__logo {
        flex: 1;
    }
    .mobinav__input:checked ~ .mobinav__overlay {
        display: block; 
    }
    .mobinav__input:checked ~ .mobinav__list {
        transform: translateX(0);
        opacity: 1;
    }
    .theme {
        height: unset;
    }
    .theme__container {
        padding: 30% 8% 0;
    }
    .search-bar__item {
        height: 44px;
    }

    .search-bar__link {
        padding: 12px 20px;
    }

    .mark {
        height: 321px;
    }

    .mark__btn {
        margin-top: 40px;
    }

    .beaches {
        margin: 0 30px;
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 92px;
    }

    .section__item {
        margin: 6px 0;
    }
}

/* MOBILE */
@media (max-width: 739px) {
    :root {
        --header-height: 76px;
    }

    .app {
        overflow: hidden;
    }

    .section {
        margin-left: 8%;
    }

    .section__item {
        margin-right: 8%;
    }
}